@charset "UTF-8";
* {
  font-size: 2.5vh;
  color: white;
}

* h1 {
  font-size: 3vh;
}

header {
  background: content-box radial-gradient(#530000, #7c1111);
  height: 20vh;
}

header img {
  -webkit-filter: drop-shadow(2vh 2vh 2vh white);
  filter: drop-shadow(0.5vh 0.5vh 0.5vh white);
  width: 33vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: 250ms;
  transition: 250ms;
}

header img:hover {
  -webkit-filter: drop-shadow(0vh 0vh 2vh white);
          filter: drop-shadow(0vh 0vh 2vh white);
  -webkit-transition: 250ms;
  transition: 250ms;
}

header .home, header .category {
  font-size: 6vh;
  color: #ffffff;
  position: absolute;
  left: 60%;
  top: 8vh;
  text-decoration: none;
}

header .category {
  left: 75%;
}

body {
  background-color: #262626;
}

body p.category {
  margin-bottom: 0vh;
  font-size: 10vh;
  color: white;
  /*catégories*/
  text-shadow: 0.25vh 0.25vh #000000;
  text-align: center;
}

.modal {
  clear: both;
  font-size: medium;
  color: red;
  position: fixed;
  z-index: 100;
  visibility: hidden;
  /*opacity: 0;*/
  background-color: #972e2e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #1a1a1a;
  -webkit-transform-style: flat;
          transform-style: flat;
}

.modal:target {
  z-index: 100;
  clear: both;
  visibility: visible;
  opacity: 1;
  font-size: medium;
}

.modal .modal__content {
  clear: both;
  font-size: medium;
  color: white;
  /*modales*/
  text-shadow: 0.25vh 0.25vh #000000;
  border-radius: 4px;
  position: fixed;
  width: 558px;
  height: 950px;
  max-width: 90%;
  background: white;
  padding: 2em 1em;
}

.modal .modal__content p {
  color: white;
}

.modal .modal__close {
  position: absolute;
  font-size: 10vh;
  top: 10px;
  right: 10px;
  color: white;
  text-decoration: none;
}

.single-movie .title, .single-movie .desc {
  position: relative;
  font-size: 7vh;
  color: #ffffff;
  text-shadow: 0.25vh 0.25vh #000000;
  text-align: left;
  z-index: 100;
  right: 0;
  bottom: 0;
}

.single-movie .title {
  -webkit-transform: translate(-58%, 50%);
          transform: translate(-58%, 50%);
}

.single-movie .desc {
  text-justify: inter-word;
  font-size: 4vh;
  -webkit-transform: translate(-55%, 0%);
          transform: translate(-55%, 0%);
}

.single-movie img {
  float: left;
  padding-top: 3vh;
  position: relative;
  width: 60%;
  height: 60vh;
}

.single-movie .category {
  float: right;
  font-size: 7vh;
  margin-right: 10vh;
  -webkit-transform: translate(0%, -80%);
          transform: translate(0%, -80%);
  color: white;
}

.single-movie .button {
  background: #adadad;
  color: white;
  border-radius: 1vh;
  position: relative;
  right: 0;
  bottom: 0;
  display: block;
  font-size: 5vh;
  width: 10%;
  -webkit-transform: translate(-580%, 300%);
          transform: translate(-580%, 300%);
}

.list {
  clear: both;
}

.list p .category {
  color: white;
}

.carousel {
  position: relative;
  overflow: hidden;
  background-color: #363636;
}

.carousel .carousel__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 68vh;
  width: auto;
  -webkit-transition: 250ms;
  transition: 250ms;
}

.carousel .carousel__container img {
  height: 68vh;
  padding: 0 5px;
  -webkit-transition: 250ms all;
  transition: 250ms all;
}

.carousel .carousel__container img:hover {
  margin: 0 10px;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.carousel .carousel__container::after {
  /*content: "";*/
  clear: both;
}

.carousel .carousel__next, .carousel .carousel__prev {
  position: absolute;
  width: 40px;
  height: 40px;
  background: #494949 url(./right.svg) center center no-repeat;
  background-size: 20px 20px;
  border-radius: 50%;
  top: 50%;
  margin-top: -20px;
  right: 0px;
  cursor: pointer;
}

.carousel .carousel__prev {
  background: #494949 url(./left.svg) center center no-repeat;
  left: 0px;
}

.carousel .carousel__slide {
  float: right;
}

.carousel .carousel__next::after,
.carousel .carousel__prev::after {
  clear: both;
}
