@charset "UTF-8";
* {
  font-size: 2.5vh;
  color: white;
  z-index: 1;
}

* h1 {
  font-size: 3vh;
}

header {
  background: content-box radial-gradient(#530000, #7c1111);
  height: 20vh;
}

header img {
  -webkit-filter: drop-shadow(2vh 2vh 2vh white);
  filter: drop-shadow(0.5vh 0.5vh 0.5vh white);
  width: 33vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: 250ms;
  transition: 250ms;
}

header img:hover {
  -webkit-filter: drop-shadow(0vh 0vh 2vh white);
          filter: drop-shadow(0vh 0vh 2vh white);
  -webkit-transition: 250ms;
  transition: 250ms;
}

header .home, header .category {
  font-size: 6vh;
  color: #ffffff;
  position: absolute;
  left: 60%;
  top: 8vh;
  text-decoration: none;
}

header .category {
  left: 75%;
}

body {
  background-color: #262626;
}

body p.category {
  margin-bottom: 0vh;
  font-size: 10vh;
  color: white;
  /*catégories*/
  text-shadow: 0.25vh 0.25vh #000000;
  text-align: center;
}

.modal {
  clear: both;
  font-size: medium;
  color: red;
  position: fixed;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  background-color: #972e2e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 250ms;
  transition: 250ms;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #1a1a1a;
}

.modal:target {
  -webkit-transition: 200ms;
  transition: 200ms;
  z-index: 100;
  clear: both;
  visibility: visible;
  opacity: 1;
  font-size: medium;
}

.modal .modal__content {
  clear: both;
  font-size: medium;
  color: white;
  /*modales*/
  text-shadow: 0.25vh 0.25vh #000000;
  border-radius: 4px;
  position: fixed;
  width: 558px;
  height: 950px;
  max-width: 90%;
  background: white;
  padding: 2em 1em;
}

.modal .modal__content p {
  color: white;
}

.modal .modal__close {
  position: absolute;
  font-size: 10vh;
  top: 10px;
  right: 10px;
  color: white;
  text-decoration: none;
}

.single-movie {
  z-index: 1;
  padding-bottom: 40vh;
}

.single-movie .title, .single-movie .desc {
  position: relative;
  font-size: 7vh;
  color: #ffffff;
  text-shadow: 0.25vh 0.25vh #000000;
  text-align: left;
  right: 0;
  bottom: 0;
}

.single-movie .title {
  -webkit-transform: translate(-58%, 50%);
          transform: translate(-58%, 50%);
}

.single-movie .desc {
  text-justify: inter-word;
  font-size: 4vh;
  -webkit-transform: translate(-55%, 20%);
          transform: translate(-55%, 20%);
}

.single-movie img {
  float: left;
  padding-top: 3vh;
  position: relative;
  width: 60%;
  height: 60vh;
}

.single-movie .button {
  background: #262626;
  color: white;
  border-radius: 1vh;
  position: relative;
  right: 0;
  bottom: 0;
  z-index: 2;
  display: block;
  font-size: 4vh;
  width: 10%;
  -webkit-transform: translate(460%, 350%);
          transform: translate(460%, 350%);
}

.single-movie .button:hover {
  background: #6c0a0a;
  -webkit-transition: 750ms;
  transition: 750ms;
}

.single-movie .button span {
  cursor: pointer;
  -webkit-transition: 250ms;
  transition: 250ms;
}

.single-movie .button span::after {
  content: "\00bb";
  font-size: 4vh;
  position: absolute;
  opacity: 0;
  -webkit-transform: translate(0, 0.5vh);
          transform: translate(0, 0.5vh);
  top: 0;
  right: 0;
  -webkit-transition: 250ms;
  transition: 250ms;
}

.single-movie .button:hover span {
  padding-right: 25px;
  -webkit-transition: 250ms;
  transition: 250ms;
}

.single-movie .button:hover span::after {
  opacity: 1;
  right: 4vh;
  bottom: 0;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.list {
  clear: both;
}

.list p.category {
  -webkit-transform: scale(1);
          transform: scale(1);
  color: #d6d6d6;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.list:hover > p.category {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: white;
  -webkit-transition: 250ms;
  transition: 250ms;
}

.carousel {
  position: relative;
  overflow: hidden;
  background: content-box -webkit-gradient(linear, left top, left bottom, from(#262626), color-stop(#9e9e9e), color-stop(#9e9e9e), to(#262626));
  background: content-box linear-gradient(#262626, #9e9e9e, #9e9e9e, #262626);
}

.carousel .carousel__container {
  padding-top: 4vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 72vh;
  width: auto;
  -webkit-transition: 250ms;
  transition: 250ms;
}

.carousel .carousel__container img {
  height: 68vh;
  padding: 0 5px;
  -webkit-transition: 250ms;
  transition: 250ms;
}

.carousel .carousel__container img:hover {
  margin: 0 10px;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  z-index: 5000;
}

.carousel .carousel__container::after {
  /*content: "";*/
  clear: both;
}

.carousel .carousel__next, .carousel .carousel__prev {
  position: absolute;
  width: 40px;
  height: 40px;
  background: #494949 url(./right.svg) center center no-repeat;
  background-size: 20px 20px;
  border-radius: 50%;
  top: 50%;
  margin-top: -20px;
  right: 0px;
  cursor: pointer;
}

.carousel .carousel__prev {
  background: #494949 url(./left.svg) center center no-repeat;
  left: 0px;
}

.carousel .carousel__slide {
  float: right;
}

.carousel .carousel__next::after,
.carousel .carousel__prev::after {
  clear: both;
}
